/* src/Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    color: #323854
}

form {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
    width: 339px;
    height: 36px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.password-group {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.checkbox {
    display: flex;
    align-items: center;
    color: #79747f;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
}

.checkbox input {
    margin-right: 5px;
}

button[type="submit"] {
    width: 339px;
    height: 48px;
    padding: 10px 86px;
    background-color: #8d7fc7;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #7e71b4;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;
}

.link {
    color: #008aff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
}

.register {
    margin-top: 20px;
}

.akk {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: #323854;
    text-align: center;
}

.language-switch {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.language-switch label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-switch input[type="radio"] {
    display: none;
}

.language-switch span {
    color: #79747f;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
}

.language-switch .selected {
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    font-weight: bold;
    color: #7362bc;

}