/* src/MainPage.css */
.main-page {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height:24px
}

.user-name {
    color: #8D7FC7;
}

.user-profile {
    position: relative;
    display: flex;
    align-items: center;
}

.chat {
    text-decoration: none;
    position: relative;
}

.new-mess {
    background-color: red;
    color: #fff;
    border-radius: 30px;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 16px;
}

.btn-user {
    width: 42px;
    height: 44px;
    border-radius: 30px;
}

.user-profile .dropdown {
    position: relative;
    display: block;

}

.user-profile .dropdown button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.user-profile .dropdown-content {
    display: none;
    position: absolute;
    width: 250px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.change-user {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
}

.change-user {
    background-color:#fff;;
    margin-right: 15px;
    border-radius: 16px;
}

.user-profile .dropdown:hover .dropdown-content {
    display: block;
}

.change-user-name {
    margin-left: 15px
}

.logout {
    display: flex;
    align-items: center;
    justify-content: space-between
}

a {
    text-decoration: none;
}

.logout-link {
    color: #008AFF;
}

.promo-banner {
    background-color: #d9eaff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.promo-banner p {
    margin: 0 0 10px 0;
}

.lessons-balance, .upcoming-lessons {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lessons-balance ul, .upcoming-lessons ul {
    list-style: none;
    padding: 0;
}

.lessons-balance ul li, .upcoming-lessons ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.lessons-balance ul li span, .upcoming-lessons ul li span {
    flex: 1;
    text-align: center;
}

.upcoming-lessons ul li button {
    margin-left: 10px;
}